* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #DCEDFF;
}

header {
    background-color: #94B0DA;
    color: #343F3E;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #343F3E;
    text-decoration: none;
    font-weight: bold;
}

.head a {
    color: #343F3E;
    text-decoration: none;
    font-size: 14px;
}

main {
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.column {
    margin: 0 10px;
    width: 240px;
    text-align: center;
}

.game img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.column a {
    display: block;
    margin-bottom: 10px;
}

.game-name {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #4C5C65;
    font-family: "Fantasy", serif;
}

.gallery img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

@media screen and (max-width: 600px) {
    .column {
        flex: 1;
    }
}

.blur {
    filter: blur(5px);
    pointer-events: none;
}

#loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    border-radius: 5px;
}

#SuperGameLauncher {
    width: 50%;
}

#Unknow {
    width: 75%;
    border-radius: 50%;
}

.error
{
    color: red;
}



table {
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
    height: auto;
    border-collapse: collapse;
}


table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #313B3A;
    color: ghostwhite;
}

table tr:nth-of-type(1) {
    background-color: gold;
}

table tr:nth-of-type(2) {
    background-color: silver;
}

table tr:nth-of-type(3) {
    background-color: chocolate;
}

table tr {
    background-color: ghostwhite;
}