* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #DCEDFF;
}

header {
    background-color: #94B0DA;
    color: #343F3E;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.CenterSection {
    justify-content: center;
}

#BusterGhostCanvas {
    border: 2px solid #333;
    background-image: url("../img/background.jpg");
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

#gameData {
    margin-bottom: 20px;
}

#gameData p {
    margin: 5px;
    font-size: large;
}

a {
    text-decoration: none;
}

button, .btn {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
}

button:hover, .btn:hover {
    background-color: #0056b3;
}